* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Verdana, Helvetica, Arial, sans-serif;
    font-size: 16px;
    transition: all 500ms ease;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;   
     background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20220512/pngtree-growing-chart-against-the-background-of-the-usa-america-flag-candlestick-image_1298783.jpg');

}

.container {
    background-color: rgba(20, 120, 200, 0.6);
    color: #fff;
    text-align: center;
    padding: 2em;
    width: 90%;
    margin: 2em auto;
    border-radius: 5px;
}

.container h1 {
    font-size: 2.5em;
}

.container h6.information-text {
    color: #ddd;
    margin-bottom: 1em;
}

.form-group {
    margin: 0.5em 0;
    text-align: left;
}

.form-group input {
    display: block;
    width: 100%;
    padding: 0.5em 0;
    margin-top: 1em;
    margin-bottom: 0.5em;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    transition: border-bottom 0.3s ease;
}

.form-group input:focus {
    outline: none;
    border-bottom: 2px solid #fff;
    background-color: #fff;
    color: #000;
}

.form-group button {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-top: 2em;
}

.form-group button:hover {
    background-color: #555;
    color: #fff;
}

.success-message, .error-message {
    margin-top: 1em;
    font-size: 1.2em;
}

.success-message {
    color: #4caf50;
}

.error-message {
    color: #f44336;
}

.footer {
    margin-top: 2em;
    color: #ddd;
}

.footer h5 {
    margin-bottom: 0.5em;
}

.footer a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #f44336;
}
